@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&family=Roboto:wght@300&display=swap');
:root {
    --black: #131313;
    --offblack: #29292b;
    --grey: rgb(174, 174, 174);
    --greydark: rgb(113, 113, 113);
    --greyback: rgb(174,174,174,0.3);
    --white: #fff;
}

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--black);
  font-family: 'Kumbh Sans', sans-serif;
}

calendrier {
  display: flex;
  justify-content:center;
  background: #000;
  border-radius: 10px;
  padding: 30px 10px 10px 10px;
}

button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: var(--white);
  font-size: 15px;
}

textarea {
  resize: none;
}

#header {
  padding: 10px;
  color: var(--white);
  font-size: 26px;
  display: flex;
}

#header button {
  background-color: transparent;
}

#header button:hover{
  background-color: var(--offblack);
  border: var(--greydark) 1px solid;
}

#port{
  margin-left: 327px;
}

#monthDisplay{
  margin-left: 30px;
  margin-right: 30px;
}

#container {
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: var(--grey);
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--offblack);
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: var(--greyback);
  transition: all 0.2s ease-out;
}

.day + #currentDay {
  background-color: rgb(255, 162, 31);
}

.padding {
  cursor: default;
  background-color: var(--greyback);
  box-shadow: none;
}

#creation_evenement{
  display: none;
  box-sizing: border-box;
  margin: 220px 10px 0 20px;
  box-shadow: 0px 0px 3px #CBD4C2;
  flex-direction: column;
  height: 300px;
  width: 270px;
  color: var(--white);
  background: var(--offblack);
  border-radius: 10px;
  color: var(--white);
}

#event__title{
  margin: 17px 10px;
  display: flex;
  border-bottom: 1px solid var(--greyback);
}

#event__title textarea{
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: larger;
}

.event__rest{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.event__time{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-around;
}

.event__time > i{
  margin-right: 55px;
}

input[type="time"]{
  cursor: pointer;
  margin-right: 15px;
  border: none;
  background: transparent;
  color: var(--white);
}

input[type="color"]{
  cursor: pointer;
  border: none;
  width: 25px;
  height: 23px;
  background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

textarea{
  font-family: 'Kumbh Sans', sans-serif;
  border-radius: 10px;
  width: 90%;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  border: solid 1px var(--greydark);
  box-shadow: 0px 0px 1px #CBD4C2;
  color: var(--white);
}

textarea::placeholder{
  color: var(--grey);
}

#event__last{
  display: flex;
  justify-content: center;
}

#creer {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #797979;
  width: 125px;
  color: var();
  font-size: large;
}

#creer:hover{
  background:rgba(0, 0, 0, 0.4);
  border: 1px solid var(--white);
}

newevents:hover{
  transform: scale(110%);
}

.neige {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: fixed;
}